.header {
  display: grid;
  grid-template: 
    "avatar bio" 1fr
    / 1fr 2fr;
  margin: 1rem 0 0;
}
.avatar {
  grid-area: avatar;
}
.bio {
  grid-area: bio;
  justify-self: end;
}

.hr {
  border: 0;
  height: 1px;
}