.container {
  grid-area: side;
  position: sticky;
  top: 0;
  margin-top: -1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  height: 100vh;
}
.divider{
  position:absolute;
  right: 0;
  top: 1rem;
  bottom: 1rem;
  border-left:1px solid #ddd;
}