.container {
  justify-self: center;
  align-self: center;
}
.imgContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}
.img {
  margin-left: -25%; 
  height: 100%;
  width: auto;
}